body {
    font-family: sans-serif;
    background-color: #eeeeee;
  }
  
  .file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 20 0;
    padding: 20px;
  }

  .basic-btn {
    width: 10%;
    margin: 0;
    color: #fff;
    background: #1a5846;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #2bbd4f;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 100;
    font-size: medium;
  }
  .basic-btn:hover {
    background: #541985;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  .la {
    color: red;
    font-weight: bold;
    font-size: medium;
  }

  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #768edd;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #155182;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #421aa0;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #beec82;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #b0e66a;
    border: 4px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #728215;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #becd35;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #486405;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }

  #label-container div {
    font-size: 26px;
    color: rgb(17, 43, 129);
  }